.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
}
.gpt3__blog-container_article-image {
  width: 100%;
  height: auto;
}
.gpt3__blog-container_aritcle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gpt3__blog-container_article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 1.5rem;
}
.gpt3__blog-container_article:first-child
  .gpt3__blog-container_article-content {
  row-gap: 19.9rem;
}
.gpt3__blog-container_article-content p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
  color: #ffffff;
}
.gpt3__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 3rem;
}
.gpt3__blog-container_article:first-of-type {
  grid-row: 1/3;
}

.gpt3__blog-container_article-content p:last-child {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
    .gpt3__blog-container_article:first-of-type {
        grid-column: 1;
        grid-row: 1;
      }
  .gpt3__blog-container_article:first-child
    .gpt3__blog-container_article-content {
    row-gap: 0;
  }
}
@media screen and (max-width:700px) {
    .gpt3__blog-container_article:first-of-type {
        grid-column: 1;
        grid-row: 1;
      }
      .gpt3__blog-container_article:first-child
        .gpt3__blog-container_article-content {
        row-gap: 0;
      }  
}
